@using Azure.Core
@{
    string pageUrl = Context.Request.Path.ToString();
}

<style>

    .cls-1 {
        fill: #88a7fc;
        width: 21px;
    }

    .cls-2 {
        fill: #486fff;
        width: 21px;
    }

    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet {
        margin-left: 5px
    }

        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet svg {
            width: 18px;
        }
</style>

<div class="aside aside-left  aside-fixed  d-flex flex-column flex-row-auto" id="kt_aside">
    <!--begin::Brand-->
    <div class="brand flex-column-auto " id="kt_brand">
        <!--begin::Logo-->
        <a href="/" class="align-items-center brand-logo d-flex justify-content-center">
            <img src="~/Panel/media/logos/logo-letter-2.png" alt="Alternate Text" width="54px" />
            <span style="color:#ffbc42; padding-right: 5px;" id="logoText">وبلاگ</span>
        </a>
        <!--end::Logo-->
        <!--begin::Toggle-->
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
            <span class="svg-icon svg-icon svg-icon-xl">
                <!--begin::Svg Icon | path:~/Panel/media/svg/icons/Navigation/Angle-double-left.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span>
        </button>
        <!--end::Toolbar-->
    </div>
    <!--end::Brand-->
    <!--begin::Aside Menu-->
    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <!--begin::Menu Container-->
        <div id="kt_aside_menu"
             class="aside-menu my-4 "
             data-menu-vertical="1"
             data-menu-scroll="1" data-menu-dropdown-timeout="500">
            <!--begin::Menu Nav-->
            <ul class="menu-nav ">

                <li class="menu-item  mb-4 @(pageUrl.Contains("User/Profile") ? "menu-item-active" : string.Empty)" aria-haspopup="true">
                    <a href="/Panel/User/Profile" class="menu-link ">
                        <span class="svg-icon menu-icon">
                            <!--begin::Svg Icon | path:~/Panel/media/svg/icons/desgin/Layers.svg-->
                            <svg stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" id="Layer_1" style="width:22px;height:22px;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 377.63 377.28">
                                <title>profile</title>
                                <path class="cls-1" d="M380.74,185.32C377.88,94,302.51-.21,184.31,3.52,85.8,6.62,1.29,88.75,3.24,195.71,5.2,303.12,94.93,383,194.48,380.64,295.28,380.7,384.17,295,380.74,185.32ZM193.76,61.4c42.07.76,71.57,37.08,70.48,72.11,1.06,40.79-33.7,73.61-73.48,73.06S119.07,173,119.58,132.8,153,60.66,193.76,61.4ZM327.51,276.29c-4.59,8.42-10.53,15.84-17,22.86-25.37,27.74-56.63,44.9-93.75,50.65C175.94,356.12,138,347.73,103.43,325a152.62,152.62,0,0,1-44.14-44c-4.81-7.32-5-6.58,1-13.42,13.85-15.68,31.65-24.36,51.8-28.91,12.64-2.86,25.46-2.61,38.26-2.71,14.63-.13,29.26,0,43.89,0,19.34,0,38.69-.23,58,.44,27.37.94,51.26,10.15,70.49,30.15,1.63,1.69,3,3.61,4.49,5.46A3.55,3.55,0,0,1,327.51,276.29Z" transform="translate(-3.21 -3.41)" />
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-text">پروفایل</span>
                    </a>
                </li>




                <li class="menu-item mb-4 @(pageUrl.Contains("/Post/") ? "menu-item-active" : string.Empty)" aria-haspopup="true">
                    <a href="/Post/List" class="menu-link menu-toggle">
                        <span class="svg-icon menu-icon">
                            <!--begin::Svg Icon | path:~/Panel/media/svg/icons/layout/layout-4-blocks.svg-->
                            <svg style="color: rgb(136, 167, 252);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-post-fill" viewBox="0 0 16 16"> <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1zm0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z" fill="#88a7fc"></path> </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-text">پست ها</span>
                    </a>
                </li>
                <li class="menu-item mb-4 @(pageUrl.Contains("/PostCategory/") ? "menu-item-active" : string.Empty)" aria-haspopup="true">
                    <a href="/PostCategory/List" class="menu-link ">
                        <i class="fa fa-2x fa-border-all mr-4" style="color: rgb(136, 167, 252);font-size: 21px">
                            <span></span>
                        </i><span class="menu-text">دسته بندی‌ها</span>
                    </a>
                </li>
                <li class="menu-item mb-4 @(pageUrl.Contains("/PostTag/") ? "menu-item-active" : string.Empty)" aria-haspopup="true">
                    <a href="/PostTag/List" class="menu-link ">
                        <i class="fa fa-tag  mr-4" style="color: rgb(136, 167, 252);font-size: 21px;">
                            <span></span>
                        </i><span class="menu-text">برچسب‌ها</span>
                    </a>
                </li>


                <li class="menu-item" aria-haspopup="true">
                    <a href="~/" class="menu-link ">
                        <i class="fa  fa-home  mr-4" style="color: rgb(136, 167, 252);font-size: 21px;">
                        </i>
                        <span class="menu-text">مشاهده سایت</span>
                    </a>
                </li>
            </ul>
            <!--end::Menu Nav-->
        </div>
        <!--end::Menu Container-->
    </div>
    <!--end::Aside Menu-->
</div>
