

@{ 
string Domain = Context.Request.Scheme + System.Uri.SchemeDelimiter + Context.Request.Host;
}

@section styles{
    <link rel="stylesheet" href="~/blog/style.css">
    <link rel="stylesheet" href="~/blog/widgets.css">
    <link rel="stylesheet" href="~/blog/responsive.css">
}


<!-- Start Preloader -->
<div class="preloader text-center" style="display: none;">
    <div class="circle"></div>
</div>

<!-- Start Main content -->
        <div class="bg-dark pt-50 pb-50 container">
            <div class="row">
                <div class="col-lg-8" id="archivePosts">

                    

                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated" style="visibility: hidden; animation-name: none;">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">پربازدیدترین ها</h5>
                            </div>
                            <div class="post-block-list post-module-1" id="mostViewsNews">
                                
                            </div>
                        </div>
                        <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated" style="visibility: hidden; animation-name: none;">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">آخرین دیدگاه ها</h5>
                            </div>
                            <div class="post-block-list post-module-2">
                                <ul class="list-post" id="postComments">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget widget_instagram wow fadeInUp animated" style="visibility: hidden; animation-name: none;">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">اینستاگرام</h5>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li>
                                        <a href="assets/imgs/thumbnail-3.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-4.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-5.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-3.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-3.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-4.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-4.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-5.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-5.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/news/thumb-6.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- End Main content -->

<div class="dark-mark"></div>


@section scripts{
    <script src="~/Content/Main/js/blog/vendor/wow.min.js"></script>
    <script src="~/Content/Main/js/blog/vendor/jquery.scrollUp.min.js"></script>
    <script src="~/Content/Main/js/blog/vendor/jquery.sticky.js"></script>
    <script src="~/Content/Main/js/blog/vendor/jquery.theia.sticky.js"></script>
    <script src="~/Content/Main/js/blog/main.js"></script>

    <script>

        $(document).on("click", ".pagination-area .page-item", function (e) {
            e.preventDefault();
            var currentPage = $(this).attr("data-page");

            $.ajax({
                method: "post",
                data: { currentPage: currentPage },
                url: "/blog/GetLatestPostsForPartialView",
                success: function (data) {
                    $("#latestNews").empty();
                    $("#latestNews").html(data);
                },
                error: function (error) {

                }
            });
        });


        $.ajax({
            method: "post",
            url: "/blog/TagArchive",
            data: { id: @ViewBag.Id},
            success: function (data) {
                $("#archivePosts").empty();
                $("#archivePosts").html(data);
            },
            error: function (error) {

            }
        });


        $(document).ready(function () {
            $.ajax({
                method: "post",
                url: "/blog/GetMostViewsPost",
                success: function (data) {
                    $("#mostViewsNews").empty();
                    $("#mostViewsNews").html(data);
                },
                error: function (error) {

                }
            });

            $.ajax({
                method: "post",
                url: "/blog/GetLatestPostCommentsForPartialView",
                success: function (data) {
                    $("#postComments").empty();
                    $("#postComments").html(data);
                },
                error: function (error) {

                }
            });
        });


        $(document).on("click", ".pagination-area .page-item", function (e) {
            e.preventDefault();
            var currentPage = $(this).attr("data-page");

            $.ajax({
                method: "post",
                data: {id: @ViewBag.Id, currentPage: currentPage },
                url: "/blog/CategoryArchive",
                success: function (data) {
                    $("#archivePosts").empty();
                    $("#archivePosts").html(data);
                },
                error: function (error) {

                }
            });
        });
    </script>
}