
    #live-section {
        width: 100%;
        margin-bottom: 15px;
    }

    .live-section-title {
        position: relative;
        margin-bottom: 25px;
        text-align: center
    }

    #live-section .title {
        position: relative;
        text-align: center;
        background: #fdb913;
        display: inline-block;
        font-size: 21px;
        font-weight: 600;
        padding: 12px 30px;
        color: #242424 !important;
        border-radius: 30px;
    }

    .live-section-title .line {
        background: #fdb913;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .live-item {
        position: relative;
    }

    .live-halls {
        width: 100%;
        display: block;
        text-align: center;
    }

    .thumbnail {
        position: relative;
        width: 28%;
        margin: 0 1%;
        cursor: pointer;
        display: inline-block;
    }

    .live-item .text {
        margin-right: 25px;
        margin-left: 5px;
    }

    .image {
        width: 100%;
    }

    .live-item .text-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
    }

    .video__icon .circle--inner {
        background: #ff0000;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        opacity: .8;
        }

            .video__icon .circle--inner:after {
                content: '';
                display: block;
                border: 2px solid #ff0000;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                top: -4px;
                left: -4px;
                position: absolute;
                opacity: .8;
                -webkit-animation: circle 2s ease-in-out .2s infinite;
                animation: circle 2s ease-in-out .2s infinite;
            }

        .video__icon p {
            color: #000;
            text-align: center;
        }

    @-webkit-keyframes circle {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        to {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 0;
        }
    }

    @keyframes circle {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        to {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 0;
        }
    }


    @media only screen and (max-width:600px) {
        .thumbnail {
            position: relative;
            width: 65%;
            margin: 0 10px 15px;
        }

        #live-section .title {
            font-size: 17px
        }
    }

    @media only screen and (max-width:400px) {
        .thumbnail {
            position: relative;
            width: 93%;
            margin: 0 10px 15px;
        }

        #live-section .title {
            font-size: 17px
        }
    }

    @media only screen and (max-width:350px) {

        #live-section .title {
            font-size: 15px
        }
    }
